#notification{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    background-color: var(--currentBackgroundColor);
    top: 10%; 
    right: 0;
    font-size: 15px;
    font-weight: 800;
    z-index: 3;
}

#notification i{
    color:var(--primaryColor);
    animation: shake 1.5s cubic-bezier(.36,.07,.19,.97) both;
}