#salleInfo{
  float:right;
  margin-right: 1.5%;
  width: 27%;
}

#codeArea{
    width: 70%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: black;
}

.row{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.row textarea {
    resize: none;
    width: 93%;
    padding-left: 1%;
    padding-right: 1%;
    border:none;
    line-height: 1.6;
    overflow: hidden;
    font-size: 15px;

    font-weight: 800;
    color: white;
  }
  
.row .number{
  text-align: center;
  width: 5%;
  font-size: 15px;
  background-color: var(--currentBackgroundColor);
}
  
.row{
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
}