#codeArea{
    width: 90%;
    min-height: 80vh;
    margin: 2% 3%;
    display:flex;
    flex-direction: column;
    background-color: black;
}

.row{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
}

textarea {
    resize: none;
    width: 55%;
    border:none;
    height: 1em;
    background-color: grey;
    overflow: hidden;
  }
  
  .number{
    text-align: center;
    width: 5%;
    font-size: 13px;
    color:white;
  }
  
  .row{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
  }