
#listroom, #infoProfil{
    width: 80%;
    margin-left: 10%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 2%;
}

/** Gestion info utilisateurs **/

#updateProfil{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    width: 100%;
}


#updateInfo{
    width: 40%;
}


#separator{
    width: 2px;
    background-color: white;
    border-radius: 12px;
}


/** Gestion des rooms**/


#boxroom{
    margin-right:2%;
    margin-top:2%;
    padding:1.5%;
    border-radius: 6px;
    width: 16%;
    height: 30vh;
    background-color:var(--primaryColor);
    color:white;
    float:left;
    position:relative;
    transition: box-shadow .3s;
    cursor: pointer;
}

#boxroom:first-child{
    margin-left: 0;
}

#boxroom:hover{
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.4); 
    background-color: #255969;    
}

