:root {
  --text: white;
  --darkBackgroundColor: rgb(43, 43, 43);
  --lightBackgroundColor : #dee1e7;
  --currentBackgroundColor:#dee1e7;
  --redColor:#c52626;
  --greyColor:rgb(150, 150, 150);
  --primaryColor : #2e6f83;
}

*{
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css?family=Barlow:400,500,700");
@import "./animation.css";
@import "./form.css";
@import "./notification.css";
@import "./theme.css";
@import "./setting.css";
@import "./salle.css";

/*
* === BODY, APP BACKGROUND ETC. ===
*/

.colorSecondaire{
  background-color: var(--primaryColor);
  color:white;
}

.colorDark{
  background-color: var(--darkBackgroundColor); 
}

.colorRed{
  background-color: var(--redColor);
  color:white;
}

.grey{
  background-color: rgb(153, 153, 153);
  color:white;
}

button.colorSecondaire:hover{
  background-color: #255969;
}

button.grey:hover{
  background-color: rgb(73, 73, 73);
}

.colorRed:hover{
  background-color: #6e2828;

}

h1 {
  font-weight: 700;
  font-size: 1.155rem;
}

h2 {
  margin: 0;
  font-weight: 100;
}

h3 {
  font-size: 16px;
  margin: 0;
  font-weight: 100;
}

p {
  color: var(--greyColor);
}

textarea{
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  -o-appearance:none;
  appearance:none;
  border:none;
  background: transparent;
  cursor:text;
  resize: none;
  width: 100%;
}

#messageInfo{
  margin-top: 10%;
  font-size: 16px;
  font-weight: 600;
  color:var(--primaryColor);
}

html, body {
  min-height: 100vh;
  background-color: var(--lightBackgroundColor);
  font-family: 'Barlow', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

/** Background **/
#background {
  clip-path: circle(98% at 100% 50%);
	width: 50%;
  height: 100%;

  position:absolute;
  top:0;
  right: 0;
  
  background-image: url("../images/bg.jpg");
  background-size: cover;


  z-index: 1;
}

#backgroundRegister {

	width: 50%;
  height: 100%;

  position:absolute;
  top:0;
  right: 0;
  
  background-image: url("../images/bg2.jpeg");
  background-size: cover;


  z-index: 1;
}

/** Header **/
header{
  width: 100%;
  height: 10vh;
  display:flex; 
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

header h1 {
  margin-left: 5%;
}

header h1 .colorSecondaire{
  margin-left: 2.5%;
  padding: 2px;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 6px;
}

header #rightHeader{
  display:flex; 
  flex-direction: row; 
  align-items: flex-start;
  margin-right: 5%;
  justify-content: space-between;
}

#circle{
  z-index: 2;
  height: 10px;
  width: 10px;
  border:2px solid var(--darkBackgroundColor);
  border-radius: 50%;
  margin:auto;
  cursor: pointer;
}

button{
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
  padding: 6px;
  border:none;
  border-radius:  6px;
  cursor: pointer;
  z-index: 2;

  line-height: 1.6;
  font-size: 0.8rem;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

/** Section connexion **/

#formSection{
  min-height: 80vh;
  display: flex; 
  z-index: 2;
  width: 50%;
}


/** Salle **/

#room{
  width: 100%;
}