
.dark{
    color:white;
    /*-webkit-animation: switchDarkTheme 1s; 
    -moz-animation:    switchDarkTheme 1s; 
    -o-animation:      switchDarkTheme 1s;  
    animation:         switchDarkTheme 2s;*/
    background-color: var(--darkBackgroundColor);
  }

  .light{
    color:black;
   /* -webkit-animation: switchLightTheme 1s; 
    -moz-animation:    switchLightTheme 1s; 
    -o-animation:      switchLightTheme 1s; 
    animation:         switchLightTheme 2s; */
    background-color: var(white);
  }

  
  